fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
shap
pydantic
joblib
annotated-doc
annotated-types
anyio
click
cloudpickle
colorama
h11
idna
llvmlite
numba
packaging
pydantic_core
python-dateutil
pytz
scipy
six
slicer
starlette
threadpoolctl
tqdm
typing-inspection
typing_extensions
tzdata
